<nav class="navbar navbar-expand-sm  bg-light border ">
  <div class="container">
  <!-- Brand -->
  <a class="navbar-brand">
  <b>Furist</b>
  </a>
<!-- Navbar links -->
	<div class="row ">
	  <div class="col-md-12 text-right">
		<ul class="list-inline ">
        <a href="/viewlawyers"><li class="list-inline-item"><small><i class="fa fa-user"></i>View Lawyers</small></li></a>
		    <a href="/viewclients"><li class="list-inline-item"><small><i class="fa fa-user"></i>View Clients</small></li></a>
		    <a href="/viewprofile"><li class="list-inline-item"><small><i class="fa fa-user"></i> <b>My Profile</b></small></li></a>
		</ul>
	  </div>
	</div>
 </div>
</nav>